<section class="px-10 md:px-20 py-20 bg-black">
    <div class="md:flex flex-col justify-between items-center mb-12">
        <h2 class="text-5xl font-extrabold">
            <span class="text-white"></span>Lleva la Tecnología <span class="neon-blue">Contigo</span>
        </h2>
        <p class="text-lg text-gray-400 mt-4 md:mt-2">Accesorios y dispositivos para potenciar tu día a día</p>
    </div>
  {% if productos %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4  gap-6">
      {% for producto in productos %}
        <!-- Producto -->
        <div class="producto bg-gray-900 rounded-lg border border-gray-700 overflow-hidden hover:border-[#001aff] transition cursor-pointer"
                    data-producto='{{ producto|tojson|safe }}' onclick="abrirModalProducto(this)">
                    <div class="producto_img aspect-square overflow-hidden">
                        <img src="{{ url_for('static', filename='productos/' + producto.imagen_principal) }}"
                            alt="{{producto.nombre}}" class="w-full h-full object-cover" loading="lazy">
                    </div>
                    <div class="producto_etiquetas p-3 flex flex-wrap gap-2">
                        {%if producto.tipo_entrega == 'inmediata'%}
                        <label class="bg-green-600 text-white text-xs px-2 py-1 rounded">Entrega Inmediata</label>
                        {%else%}
                        <label class="bg-red-600 text-white text-xs px-2 py-1 rounded capitalize">producto bajo
                            pedido</label>
                        {%endif%}

                    </div>
                    <div class="producto_descripcion p-4">
                        <h2 class="text-lg font-semibold mb-2">{{producto.nombre}}</h2>
                        <p class="text-gray-300">precio <span class=" text-xl font-bold text-red-500">${{
                                "{:,.0f}".format(producto.precio).replace(",", ".") }}</span>
                        </p>
                    </div>
                </div>
      {% endfor %}
        </div>
    <div class="mt-8 flex justify-center">
        <a href="{{ url_for('main.tienda') }}"
            class="text-xl font-semibold border-2 border-neon px-6 py-2 rounded-full text-neon hover:bg-neon-hover mt-4 md:mt-0 transition duration-300">
            Ver Tienda Completa →
        </a>
    </div>
    {% endif %}
</section>